@{
    ViewBag.Title = "Confirm Email";
}
@{
    Layout = null;
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Xác thực email thành công. Hãy @Html.ActionLink("Click vào đây để login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>