@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng ký tài khoản</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glassy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->

    <link rel="stylesheet" href="~/Assets/Clients/font-awesome-4.7.0/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Assets/Admin/dist/css/loginStyle.css" rel="stylesheet" media="all" />
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
<div class="jumbotron-sm">
    <h1 style="font-size:2em;margin-top:20%">Bạn không có quyền truy cập vào đây!</h1>
</div>
</body>
</html>